doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title @#{info.screen_name}'s stats / atweet
		style !{css}
	body
		div.container
			h1
				span a
				| tweet
			
			p.lead @#{info.screen_name} has 2,600 recorded tweets, dating back to June 2012.
			
			hr
			
			// stacked tweet timline bar chart (tweets, retweets, replies)
			// tweet type pie chart (tweets, retweets, replies)
			// word cloud
			// hash cloud, along with total count + percentage
			// top friends
			
			div
				img(src="http://placehold.it/940x200&text=tweet+timeline")
			
			div.row
				div.span8
					p 100 tweets have hashtags (1%)
					img(src="http://placehold.it/620x200&text=hashtag+cloud")
				div.span4
					img(src="http://placehold.it/300x200&text=tweet+types")
			
			div.row
				div.span8
					img(src="http://placehold.it/620x200&text=word+cloud")
				div.span4
					img(src="http://placehold.it/300x200&text=top+friends")